node_modules
.expo
.expo-shared
android
ios
dist
build
coverage
miniapp
playwright-report
pnpm-lock.yaml
packages/api-worker/worker-configuration.d.ts
functions/types.d.ts
.venv
tsconfig.json
expo-env.d.ts
*.log
